* {
  box-sizing: border-box;
}

input[type=text], select, textarea, label {
  width: 550px;
  height: 30px;
  border: none;
  border-radius: 17px;
  padding-left: 7px;
  color: 	#770737;
}

input[type=submit] {
  background-color:green;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: blue;
}

input[type=reset] {
  background-color:green;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=reset]:hover {
  background-color: blue;
}
.container {
  border-radius: 5px;
  background-color:gold;
  padding: 10px;
}

.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.topnav {
 overflow: hidden;
 background-color: #333;
}

.topnav a {
 float: left;
 color: #f2f2f2;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 font-size: 17px;
}

.topnav a:hover {
 background-color: #ddd;
 color: black;
}

.topnav a.active {
 background-color: #04AA6D;
 color: white;
